body {
  font-family: 'Arial', sans-serif;
  background-color: #DEB887;
  color: #000;
 }

h1 {
  margin-top: 340px;
  
}
.nav {  
 background-color: 	#B8860B;
 text-align: center;
 width: 340px;
}

.option {
	border-right: 1px solid black;
	padding: 10px;
  display: inline-block;
  position: relative;
}
.last {
  border-right: 1px solid transparent;
}
.option a {
  color: #000;
  font-size: 20px;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.option + .dropdown-content {
  width: 340px;
	visibility: show;
	opacity: 0;
  -webkit-transition: opacity 1s ease 1s;  
     -moz-transition: opacity 1s ease 1s;  
      -ms-transition: opacity 1s ease 1s;  
       -o-transition: opacity 1s ease 1s;  
          transition: opacity 1s ease 1s;  
position: absolute;
  background-color:#FAEBD7;
text-align: left;
}
.dropdown-content li {
  list-style-type: none;
  font-size: 15px;
  color: #000;
}
.option:hover + .dropdown-content {
	visibility: visible;
	opacity:1;
}